# Environment variables
.env

# Dependency directories
node_modules/
package-lock.json

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# VS Code directories
.vscode/